@page
@model MyWebPage.Pages.Applicant.Skills.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="SkillsCreate">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ApplicantSkills[0].Skill)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApplicantSkills[0].Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.ApplicantSkills) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Skill)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                <a asp-page="./SkillsEdit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./SkillsDetails" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./SkillsDelete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
