@page "{id:int}"
@model MyWebPage.Pages.Applicant.Details.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>ApplicantDetails</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ApplicantDetails.profileImage)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ApplicantDetails.profileImage)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ApplicantDetails.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ApplicantDetails.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ApplicantDetails.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ApplicantDetails.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ApplicantDetails.Age)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ApplicantDetails.Age)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ApplicantDetails.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ApplicantDetails.Address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ApplicantDetails.PostalCode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ApplicantDetails.PostalCode)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ApplicantDetails.City)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ApplicantDetails.City)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ApplicantDetails.Phonenumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ApplicantDetails.Phonenumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ApplicantDetails.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ApplicantDetails.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ApplicantDetails.LinkedIn)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ApplicantDetails.LinkedIn)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ApplicantDetails.GitHub)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ApplicantDetails.GitHub)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="ApplicantDetails.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./DetailsIndex">Back to List</a>
    </form>
</div>
